<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longqin.system.mapper.MatterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longqin.system.entity.Matter">
        <id column="id" property="id" />
        <result column="matter" property="matter" />
        <result column="matter_date" property="matterDate" />
        <result column="matter_time" property="matterTime" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="organization_id" property="organizationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, matter, matter_date, matter_time, status, creator, create_time, organization_id
    </sql>
    
    <select id="selectByDate" resultMap="BaseResultMap">
        select u.* from sys_matter u 
        where u.matter_date = #{date,jdbcType=VARCHAR} and u.creator = #{userId,jdbcType=INTEGER}
        order by u.matter_time
    </select>
    
    <update id="updateStatus">
	    update sys_matter set status = 0 where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>
